{% extends "movies/base.html" %}

{% block content %}

<!-- Tarjeta -->
<div class="card bg-info mb-3" style="max-width: 20rem;">

    <!-- Contenido de  -->
    <div class="card-body">
    
        <!-- Titulo -->
        <h1 class="card-title">{{object.movie_name}}</h1>
        <!-- Contenido -->
        <p class="card-text">Director: {{object.director}}</p>
        <p class="card-text">Idioma: {{ object.language }}</p>
        <p class="card-text">Año de estreno: {{ object.date }}</p>
        <p class="card-text">Autor del Post: {{ object.author }}</p>
        {% if object.author == user %}
        <!-- Botones -->
        <a href="{% url 'post-delete' object.id %}" class="btn btn-danger">Eliminar</a>
        <a href="{% url 'post-update' object.id %}" class="btn btn-warning">Editar</a>
        {% endif%}
    </div>

    <!-- Imagen en la tarjeta -->
    <div class="view overlay">
        <img class="card-img-top" src={{post.image_url}} alt="Card image cap" width="100">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>    

</div>


{% endblock %}