{% extends "movies/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Crear un nuevo usuario</legend>
                    {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Nuevo usuario</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                ¿Ya tiene una cuenta? <a class="ml-2" href="#">Entrar</a>
            </small>
        </div>
    </div>
{% endblock content%}